aws_region          = "us-east-1"
project             = "product-checkout"
db_username         = "checkout"
db_password         = "change-me"
frontend_origin     = "https://dxxxxx.cloudfront.net"
container_image     = "123456789012.dkr.ecr.us-east-1.amazonaws.com/product-checkout:latest"
wompi_public_key    = "pub_stagtest_replace"
wompi_private_key   = "prv_stagtest_replace"
wompi_events_key    = "stagtest_events_replace"
wompi_integrity_key = "stagtest_integrity_replace"
